.root {
  :global {
    min-height: 800px;

    .header_image {
      background-color: transparent;
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('~@/assets/image/about/homeHeader.jpg');
      background-position: 0 0, 30% 35%;
      background-repeat: repeat, repeat;
      background-size: auto, cover;
      background-attachment: scroll, scroll;
      border-bottom: 1px solid #e4ebf3;
      padding: 20px 30px;
      position: relative;
      overflow: visible;
      .hero-heading {
        color: #fff;
        text-align: right;
        font-family: Exo, sans-serif;
        font-size: 40px;
        font-style: italic;
        font-weight: 700;
        line-height: 60px;
      }
    }
    .about_container {
      width: 70%;
      margin: 0 auto;
      .who_we_are {
        padding: 50px 0;

        .who_we_are_title {
          max-width: 1072px;
          margin: 0 auto;
        }
        .who_we_are_content {
          max-width: 1072px;
          margin: 0 auto;
        }
      }
      .we_work_on {
        width: 100%;
        max-width: 1200px;
        border-radius: 20px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 60px;
        padding: 50px 60px;
        background-color: rgb(176, 201, 230);
        margin-bottom: 60px;
        margin-left: 5%;
        margin-right: 5%;
        margin: 0 auto;
        position: relative;
        .we_work_on_content {
          display: flex;
          .we_work_on_content_left {
            width: 50%;
            .text {
              padding: 40px 10px 40px 10px;
            }
          }
          .we_work_on_content_right {
            padding: 10px;
            width: 50%;
            width: 450px;
            height: 710px;
            position: relative;
            .SwiperSlide_content {
              position: absolute;
              // &:local {
              //   animation: moveDown 1s infinite alternate;
              // }
              .title {
                height: 70px;
                font-weight: 600;
                line-height: 70px;
                font-size: 1.25em;
                text-align: center;
                border-top-right-radius: 30px;
                border-top-left-radius: 30px;
                background-color: rgb(0, 63, 136);
                color: #fff;
              }
              .img_content {
                img {
                  width: 100%;
                  height: 100%;
                }
              }
            }
          }
        }
        .button_image {
          position: absolute;
          width: 100%;
          height: 150px;
          bottom: 20px;
          left: 0;
          display: flex;
          justify-content: space-around;

          .button_image_left {
            width: 240px;
            height: 85px;
            background-color: #fff;
            border-radius: 15px;
            // background-image: url("~@/assets/image/about/direction_a-p-800.png");
          }
          .button_image_right {
            // background-image: url("~@/assets/image/about/direction_b-p-800.png");
            width: 240px;
            height: 85px;
            background-color: #fff;
            border-radius: 15px;
          }
        }
      }
      .news {
        max-width: 1200px;
        margin: 0 auto;
        margin-bottom: 60px;
        margin-top: 30px;
        // margin-left: 10%;
        // margin-right: 10%;
        // padding: 50px;

        .news_item {
          display: flex;
          font-size: 22px;
          list-style: circle;
          .news_time {
            padding: 10px;
            white-space: nowrap;
          }
          .news_title {
            padding: 10px;
            .news_title_link {
              text-decoration: solid;
            }
          }
        }
      }
      .paper {
        max-width: 1200px;
        margin: 0 auto;

        // padding: 50px;
        .paper_title {
          margin-bottom: 30px;
        }
        .paper_content {
          display: flex;
          flex-wrap: wrap;
          .paper_contetn_item {
            // width: calc(50% - 30px);
            margin: 10px;
            cursor: pointer;
            .paper_image_content {
              // width: 450px;
              height: 300px;
              width: 100%;
              border-radius: 20px;
              box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.2);
              transition: transform 0.3s ease;
              &:hover {
                transform: translate3d(0, -5px, 0);
                // transition: transform 300ms;
              }
              .paper_image {
                width: 100%;
                height: 100%;
              }
            }

            .paper_title {
              font-weight: 600;
              line-height: 1.5em;
              margin-top: 20px;
              margin-bottom: 10px;
              font-size: 24px;
            }
            .paper_place {
              font-size: 20px;
            }
            .paper_contetn {
              margin-top: 10px;
              font-size: 1rem;
              line-height: 1.75em;
            }
          }
        }
      }
    }
  }
}
@keyframes moveDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(10px);
  }
}
