.root {
  :global {
    // margin: 50px 5%;
margin-bottom: 100px;
    .team_container {
      width: 60%;
      margin: auto;
      .team_title {
        margin: 50px 0;
      }
      .leader {
        font-size: 32px;
        font-weight: 700;
        margin-top: 30px;
      }
      .member_content {
        display: flex;
        margin-top: 20px;
      }
    }
  }
}
