.root {
  :global {
    .course_detail_container {
      width: 70%;
      margin: 0 auto;
      .big_weight_text {
        font-size: 16px;
        font-weight: 700;
        line-height: 25px;
      }
      .course_item {
        // padding: 20px;
        // box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.2);
        // border-radius: 30px;
        // margin: 50px;
        // cursor: pointer;
        margin: 50px;
        font-size: 16px;
        .teacher_content {
          .teacher_item {
            height: 90px;
            .teacher_name {
              line-height: 90px;
            }

            display: flex;
            .ant-avatar img {
              height: 128%;
            }
          }
        }
        .course_intro {
          text-align: justify;
          font-size: 16px;
          line-height: 29px;
        }
      }
      .marginBotton20 {
        margin-bottom: 20px;
      }
      .fontSize18 {
        font-size: 18px;
      }
      .teacher_content {
        .teacher_item {
          height: 90px;
          .teacher_name {
            line-height: 90px;
          }

          display: flex;
          .ant-avatar img {
            height: 128%;
          }
        }
      }
      .course_book {
        margin-top: 30px;
        margin-bottom: 50px;
      }
      .course_intorduce {
        .title {
          margin-top: 20px;
          margin-bottom: 10px;
          font-size: 38px;
          font-weight: 800;
          line-height: 44px;
        }
        .course_intro {
          text-align: justify;
          font-size: 16px;
          line-height: 29px;
        }
      }
    }
  }
}
