.root {
  :global {
    .publication_container {
      width: 70%;
      margin: 50px auto;
      // margin-top: 30px;
      .Publications_title {
        font-size: 24px;
        font-weight: 600;
        margin-top: 30px;
      }
      .Publications_item {
        font-size: 18px;
        padding: 5px;

        transition: transform 0.5s;
        &:hover {
          transform: scale(1.05);
        }
      
        .Publications_item_title {
          font-weight: 600;
          line-height: 1.5rem;
        }
        .Publications_item_author {
        }
        .Publications_item_place {
        }
      }
      .Publications {
        .Publications_title {
          font-size: 24px;
          font-weight: 600;
          margin-top: 30px;
        }
        .Publications_content {
          .Publications_item {
            font-size: 18px;
            padding: 5px;
            .Publications_item_title {
              font-weight: 600;
              line-height: 1.5rem;
            }
            .Publications_item_author {
            }
            .Publications_item_place {
            }
          }
        }
      }
      .Patents {
        .Patents_title {
        }
        .Patents_content {
          .Patents_item {
          }
        }
      }
      .Copyright {
      }
    }
  }
}
