

.root {
  :global {
    * {
      margin: 0;
      padding: 0;
      list-style: none;
      text-decoration: none;
    
    }
   .menu_content{
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    .logo{
      width: 50px;
      height: 50px;
    }
    .myname{
      font-size: 36px;
      font-weight: 900;
      color: rgb(0, 63, 136);
      padding-right: 20px;

    }
    .menu_item{
      color: black;
      padding: 10px;
      font-weight: 900;
      &:hover{
        color: rgb(0, 63, 136);
      }
    }
    .path_active{
      color: rgb(0, 63, 136);

    }
   }
  }
}
